# L’écriture simplifiée des fonctions

In [12]:
def min (x,y):
    return (abs (x+y) - abs (x-y)) / 2

In [24]:
min = lambda x,y : (abs (x+y) - abs (x-y)) / 2
min(10,20)

10.0

In [34]:
min = lambda x,y : (abs (x+y) - abs (x-y)) / 2
print(min(1,2))

print(min(5,4))

def  min(x,y):
    return (abs (x+y) - abs (x-y))/2

print(min(1,2))
print(min(5,4))

1.0
4.0
1.0
4.0

In [9]:
fs = []
for a in range (0,5) : 
    f = lambda x : x + a 
    fs.append(f)

In [8]:
fs = []
for a in range (0,5) : 
    f = lambda x : x + a 
    fs.append(f)

print(a,'\n')

for f in fs :
    print(f(1),end=' ')
    
for f in fs :
    print(f(2),end=' ')

4

5 5 5 5 5 6 6 6 6 6

In [10]:
fs = []
for a in range (0,5) :
    f = lambda x,y=a : x + y
    print(f'x  + { a}')
    fs.append(f)

for f in fs :
    print(f(1))

x  + 0
x  + 1
x  + 2
x  + 3
x  + 4
1
2
3
4
5

## La fonction map

In [5]:
[ i for i in [1,2,3,4,5,6]]

[1, 2, 3, 4, 5, 6]

In [4]:
liste = ['chien', 'chat', 'crocodile', 'éléphant']
list(map(lambda x: len(x),liste))

[5, 4, 9, 8]

In [7]:
liste = ['chien', 'chat', 'crocodile', 'éléphant']
list(map(lambda x: len(x)%2, liste))

[1, 0, 1, 0]

In [22]:
list(map(lambda x: x**2, (2,3,4)))

[4, 9, 16]

In [24]:
a = lambda x,y: x**y
a(4,3)

64

In [18]:
def pow01(x,y):
    return x**y

In [16]:
l1 = [0,1,2,3]
l2 = [2,5,9,-1]
list(map(lambda x,y: x**y, l1,l2))

[0, 1, 512, 0.3333333333333333]

In [19]:
for i,val in enumerate(zip(l1,l2)):
    print(i,val)

0 (0, 2)
1 (1, 5)
2 (2, 9)
3 (3, -1)

In [20]:
a = lambda x: x**2
b = list(map(a, (2,3,4)))
print('b :',b)
print(list(map(pow, (7, 5, 3), (2, 3, -2))))
a, c = [1,2,3,4,5], [2, -3, 5,7, -0.5]
mul = lambda x, y: x*y
d = sum(map(mul, a,c))
d

b : [4, 9, 16]
[49, 125, 0.1111111111111111]

36.5

In [21]:
list(map(mul, a,c))

[2, -6, 15, 28, -2.5]

In [27]:
import numpy as np
np.array([0,2,9,6])

array([0, 2, 9, 6])

In [49]:
sq = lambda x: x**2
cu = lambda y: y**3
fc = (sq,cu)
#Retour carré & cube de r - utilisation de 'map'
def vv(r): return list(map(lambda z: z(r), fc))
res1 = vv(5)
print(res1)

[25, 125]

In [51]:
def meva(dd):
    'Avec dd comme sequence de nombres,\n\
    retrouvez leur moyenne et variance'
    bb = len(dd) 
    med = sum(dd)/bb 
    vr = sum(list(map(sq,dd)))/bb - med**2 
    return med, vr

seq = [0.0, 1.0, 2.0, 3.0, 4.0, 5.0, \
   6.0, 7.0, 8.0, 9.0, 10.0, 11.0, \
   12.0, 13.0, 14.0]
res1 = meva(seq)
res1

(7.0, 18.66666666666667)

In [39]:
simb = '0123456'
ord(simb[0])
[ord(x) for x in simb]

[48, 49, 50, 51, 52, 53, 54]

In [42]:
list(map(ord,simb))

[48, 49, 50, 51, 52, 53, 54]

In [48]:
def f(c):
    return ord(c) > 50
    
f(simb[0])

False

In [50]:
list(filter(f,'68014253456'))

['6', '8', '4', '5', '3', '4', '5', '6']

In [30]:
a = "abcdefgh"
for i in a: print(i)

a
b
c
d
e
f
g
h

In [32]:
next(b)

'b'

In [31]:
b = iter(a)
next(b)

'a'

In [35]:
liste = ['chien', 'chat', 'crocodile', 'éléphant']
l1 = iter(liste)
next(l1)

'chien'

In [36]:
next(l1)

'chat'

In [68]:
for i in a: print(i)

a
b
c
d
e
f
g
h

## La fonction reduce

In [7]:
from itertools import accumulate
from operator import add, mul
from functools import reduce
from math import prod

In [2]:
add(1, 2)
numbers = [1, 2, 3, 4]
print(reduce(add, numbers))

print('-' * 20)
numbers = [1, 2, 3, 4]

print(sum(numbers))

10
--------------------
10

In [3]:
def my_add(a, b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return result
def my_add2(a, b):
    return a + b

In [4]:
numbers = [0, 1, 2, 3, 4]

reduce(my_add, numbers)
print('-'*20)
reduce(my_add, numbers, 100)
print('-'*20)
reduce(my_add, [], 0)
print('-'*20)
numbers = [1, 2, 3, 4]
total = 0
for num in numbers:
    total += num

print(total)
print('-'*20)
numbers = [1, 2, 3, 4]

print(reduce(my_add2, numbers))
print('-' * 20)
print(reduce(lambda a, b: a + b, numbers))

0 + 1 = 1
1 + 2 = 3
3 + 3 = 6
6 + 4 = 10
--------------------
100 + 0 = 100
100 + 1 = 101
101 + 2 = 103
103 + 3 = 106
106 + 4 = 110
--------------------
--------------------
10
--------------------
10
--------------------
10

In [5]:
numbers = [1, 2, 3, 4]
print('-' * 20)
print(list(accumulate(numbers)))
print('-' * 20)
print(reduce(add, numbers))
print('-' * 20)
print(list(accumulate(numbers,mul)))
print('-' * 20)
print(reduce(mul, numbers))

--------------------
[1, 3, 6, 10]
--------------------
10
--------------------
[1, 2, 6, 24]
--------------------
24

In [6]:
numbers = [3, 5, 2, 4, 7, 1]

# Minimum
min_value, *rest = numbers
for num in rest:
    if num < min_value:
        min_value = num

print(min_value)
print('-' * 20)

# Maximum
max_value, *rest = numbers
for num in rest:
    if num > max_value:
        max_value = num

print(max_value)

numbers = [3, 5, 2, 4, 7, 1]
value1, value2, value3, *rest = numbers
print(value1, value2, value3, *rest)

numbers = [3, 5, 2, 4, 7, 1]
print('-' * 20)
# Minimum
print(reduce(lambda a, b: a if a < b else b, numbers))

print('-' * 20)
# Maximum
print(reduce(lambda a, b: a if a > b else b, numbers))

1
--------------------
7
3 5 2 4 7 1
--------------------
1
--------------------
7

In [8]:
def my_prod(a, b):
    return a * b

numbers = [1, 2, 3, 4]
product = 1
for num in numbers:
    product *= num

print(product)
print('-' * 20)
print(reduce(my_prod, numbers))

print('-' * 20)
print(reduce(lambda a, b: a * b, numbers))

print('-' * 20)
print(reduce(mul, numbers))

print('-' * 20)
print(prod(numbers))

24
--------------------
24
--------------------
24
--------------------
24
--------------------
24

In [9]:
def sum_even1(it):
    return reduce(lambda x, y: x + y if not y % 2 else x, it, 0)


def sum_even2(iterable):
    return sum(num for num in iterable if not num % 2)

print('-' * 20)
print(sum_even1([1, 2, 3, 4]))
print('-' * 20)
print(sum_even2([1, 2, 3, 4]))


print(list(map(lambda x : bool(x%2==0), [1,0,2])))

--------------------
6
--------------------
6
[False, True, True]

In [1]:
from functools import reduce
from timeit import timeit

# Using a user-defined function
def add(a, b):
    return a + b

use_add = "functools.reduce(add, range(100))"
print('-' * 20,'\n',use_add)
print(timeit(use_add, "import functools", globals={"add": add}))

# Using a lambda expression
use_lambda = "functools.reduce(lambda x, y: x + y, range(100))"
print('-' * 20,'\n',use_lambda)
print(timeit(use_lambda, "import functools"))

# Using operator.add()
use_operator_add = "functools.reduce(operator.add, range(100))"
print('-' * 20,'\n',use_operator_add)
print(timeit(use_operator_add, "import functools, operator"))

# Using sum()
print('-' * 20,'\nUsing sum()')
print(timeit("sum(range(100))", globals={"sum": sum}))

--------------------
 functools.reduce(add, range(100))
2.4148744799995256
--------------------
 functools.reduce(lambda x, y: x + y, range(100))
2.430796009000005
--------------------
 functools.reduce(operator.add, range(100))
1.0983129300002474
--------------------
Using sum()
0.3478954539996266

# Les fonctions générateur

In [37]:
def fonction_yield(n):
    i = 0
    while i < n-1:
        print("yield 1 ", i)
        yield i
        i = i+1
    print("yield 2 ", i)
    yield i

for a in fonction_yield(5):
    print(a)

yield 1  0
0
yield 1  1
1
yield 1  2
2
yield 1  3
3
yield 2  4
4

In [4]:
next(fonction_yield(2))
next(fonction_yield(2))

yield 1  0
yield 1  0

0

In [3]:
next(fonction_yield(2))

yield 1  0

0

In [54]:
for a in fonction_yield(3):
    print(a)

yield 1  0
0
yield 1  1
1
yield 2  2
2

In [10]:
l = [1,3,5,7,9]

In [11]:
1 in l

True