In [1]:
import os, , pandas

' ../donnees/meteo/postesSynop.csv'

In [2]:
nom_fichier = input()

 ../donnees/meteo/postesSynop.csv

In [5]:
os.path.isfile(nom_fichier)

True

In [6]:
dictFicier ={'nom':['Bizoi','Duluc','Storer'],'prenom':['Razvan','Isabelle','Pierre'],'taille':[1.81,1.65,1.90]}

In [7]:
dictFicier

{'nom': ['Bizoi', 'Duluc', 'Storer'],
 'prenom': ['Razvan', 'Isabelle', 'Pierre'],
 'taille': [1.81, 1.65, 1.9]}

In [8]:
pandas.DataFrame(dictFicier)

      nom    prenom  taille
0   Bizoi    Razvan    1.81
1   Duluc  Isabelle    1.65
2  Storer    Pierre    1.90

In [11]:
pandas.read_csv('../donnees/meteo/postesSynop.csv',sep=';').sample(5)

       ID              Nom   Latitude  Longitude  Altitude
27   7535          GOURDON  44.745000   1.396667       260
1    7015    LILLE-LESQUIN  50.570000   3.097500        47
10   7149             ORLY  48.716833   2.384333        89
58  81405  CAYENNE-MATOURY   4.822333 -52.365333         4
28   7558           MILLAU  44.118500   3.019500       712

# Exercice n° 1

Ecrire une fonction qui permet de lire un fichier CSV (contient dans la première ligne le nom des colonnes) et constituer un dictionnaire avec comme clés le nom des colonnes et valeur la liste des valeurs pour chaque colonne. <br>
Le caractère de séparation doit être un argument de la fonction.<br>
Un autre argument doit être la valeur des information non renseignées (ex. chaine vide `''` ou `mq`) et à la place on met None.